
body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}




.contenedor{
	width: 800px;
	margin: auto;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.title-a{
	font-size: 24px;
	margin-top: 0; 
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.servicios{
	color: #1F313C;
	margin-bottom: 60px;
	
}

.servicios h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada{
	background-image: url("../img/background.png");
	color: white;
	padding: 20px;
	background-size: cover;
	height: 500px;
	
}

.portada .button{
	margin-bottom: 70px;
}

.button{
	border-radius: 12px;
	background: #fd324e;
	color: white;
	padding: 7px 12px;
	border: none;
	font-size: 18px;
	background: linear-gradient(to left,#fe344e,#ff7250);
	cursor: pointer;
	text-decoration: none;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li:before{
	content: '∘';
	font-size: 40px;
	line-height: 10px;
	color: white;
}

/*cambio el display de los li inline-list a inline-block 
para que queden uno al lado del otro*/
.menu li{ 
	display: inline-block;
	margin-left: 30px;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}

.servicio{
	margin: 10px 10px 40px 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.servicio ol{
	padding: 0;
}

.servicio.b{
	height: 230px;
}

.derecha{
 float: right;
 position: relative;
 top: -57px;
}

.izquierda{
float: left;
position: relative;

}

.contenedor-servicio-b{
	margin-left: 370px;
	position: relative;
	bottom: 50px;
}

.contenedor-servicio-a{
	padding-left: 20px;

}

.header{
	position: relative;
}

.footer{
	background: #273b47;
	padding: 50px 10px;

}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 0 10px 30px;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
	
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;

}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px;
}

.intereses label{
	font-size: 12px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}



}
.sexo{
	margin-top: 10px;
}

